{{ form_start(form) }}
    <div class="row mb-4">
        {{ form_label(form.titles) }}
        <div class="col-sm-9">
            {{ form_widget(form.titles) }}
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-success w-md">{{ button_label|default('Save') }}</button>
                </div>
                <div class="col-sm-6 text-end">
                    <a href="{{ path('status') }}" class="btn btn-secondary waves-effect waves-light">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}