{% extends 'base.html.twig' %}

{% block title %}Checkup Items{% endblock %}

{% block body %}
{% include "_page_title.html.twig" with {'title': 'Checkup Items', 'main': 'Setting', 'current': 'Checkup Items'} %}
    <div class="rows">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<h4 class="card-title">Checkup Item List</h4>
						<p class="card-title-desc">Checkup Items all devices</p>
						<div class="table-responsive">
							<table class="table align-middle mb-0">
								<thead>
									<tr>
										<th style="width: 60px">#</th>
										<th>Title</th>
										<th style="width: 160px">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for checkup_item in checkup_items %}
                                        <tr>
                                            <td>{{ loop.index }}.</td>
                                            <td>{{ checkup_item.title }}</td>
                                            <td>
                                                <div class="d-flex">
                                                    <a class="btn btn-light btn-sm me-2" href="{{path('checkupitem_edit', {id: checkup_item.id})}}">Edit</a>
                                                    {{ include('checkupitem/_delete_form.html.twig') }}
                                                </div>
                                            </td>
                                        </tr>
									{% else %}
										<tr>
											<td colspan="3">No records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="position-absolute" style="bottom: 80px; right: 24px;">
		<a class="btn btn-rounded btn-success waves-effect waves-light" href="{{ path('checkupitem_new') }}">
			<span class="mdi mdi-plus"></span>
		</a>
	</div>
{% endblock %}